* text=auto

.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.npmrc text eol=lf
LICENSE text eol=lf
*.py text eol=lf
*.pyi text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.spec text eol=lf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.xlsx binary
*.zip binary
*.exe binary
*.dll binary
*.gguf binary
*.db binary
